# Example environment variables
# SQL Authentication (MSSQL)
MSSQL_SERVER=123456
MSSQL_DATABASE=fab
MSSQL_USERNAME=fab
MSSQL_PASSWORD=<<SET_IN_LOCAL_ENV_OR_DOCKER>>

# CORS etc can be added here if needed